---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";


// Color tweaks
$theme-orange               : #d28445 !default;
$theme-grey                 : #2c3e50 !default;

$body-color                 : #fff !default;
$navigation-color           : $theme-grey !default;
$link-color                 : $theme-orange !default;
$link-color-hover           : $theme-orange !default;
$masthead-link-color        : #fff !default;
$masthead-link-color-hover  : $theme-orange !default;


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/*
   NAVIGATION BAR
   ========================================================================== */
.masthead {
  background-color: $navigation-color;
  border-bottom: 1px solid $navigation-color;
}

.greedy-nav {
  background: $navigation-color;
  text-transform: uppercase;

  a {
    font-size: $type-size-4;
  }

  button {
    background-color: $navigation-color;
  }

  .visible-links a {
      &:before {
        height: 0px;
      }
  }

  .hidden-links {
    border: 1px solid $navigation-color;
    background: $navigation-color;

    a {
      &:hover {
        background: $navigation-color;
      }
    }
  }
}

.search__toggle {
  color: $masthead-link-color;
  &:hover {
    color: $masthead-link-color-hover;
  }
}

/*
   PAGE
   ========================================================================== */
   .page__content {
     h2 {
       border-bottom: none;
     }

     a:not(.btn) {
       text-decoration: none;
     }
   }


/*
   HIRE ME PAGE
   ========================================================================== */
.page__contact {
  background-color: #fff;
  padding: 0px;

  button {
    border: none;
    color: #fff;
    border-radius: 0.25rem;
    padding: 0.25em 1em;
    background-color: $theme-orange
  }

  input {
    border: 1px solid $light-gray;
  }

  input:focus {
    border: 1px solid $text-color;
  }

  textarea {
    height: 9em;
    border: 1px solid $light-gray;
  }

  textarea:focus {
    border: 1px solid $text-color;
  }
}

/*
   POST PREVIEW
   ========================================================================== */
h3.archive__date {
  margin: 0 0 0 0;
  font-size: $type-size-6;
  color: $light-gray;
  font-style: normal;
  border-bottom: none;

  + .list__item .archive__item-title {
    margin-top: 0em;
  }
}

.archive__item-title {
  margin-top: 0em;
  color: white;

  a {
    color: white;
  }
}

.archive__item_titlecontainer {
  border-radius: $border-radius;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.35);
  padding: 1rem 1rem 1rem 1rem;
  margin-bottom: 8px;
  width:100%;
}

.archive__item-teaser, .archive__item-teaser-imageclickhandler {
  display: inline-block;
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 240px;
  width: 100%;
}

.archive__item-teaser-imageclickhandler {
  position: absolute;
  top: 0;
}

.archive__item-excerpt {
  display: block;
}

.archive__item:hover {
  .archive__item-title {
    color: $light-gray;
    text-decoration: none;
    a {
      color: $light-gray;
    }
  }
}

.list__item {
  margin-bottom: 2em;
}

/*
   REMOVE HEIGHT RESTRICTION SIDEBAR
   ========================================================================== */
.sidebar {
  &.sticky {
    height: auto;
  }
}

/*
   IMAGE SIZES
   ========================================================================== */

.width-half {
    width: 50%
}

/*
   SEARCHING JOB BANNER
   ========================================================================== */
.searching_job {
  position: relative;

  @include clearfix;
  -webkit-animation: $intro-transition;
  animation: $intro-transition;
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
  padding: 2em;
  margin-bottom: 2em;
  margin-top: 1em;

    a {
      color: #fff;
    }

    .wrapper {
      @include breakpoint($x-large) {
        max-width: $x-large;
      }
    }

    .page__title,
    .page__meta,
    .page__lead,
    .btn {
      color: #fff;
      line-height: 1.5;
    }

    .page__lead {
      max-width: $medium;
    }

}
