<!DOCTYPE html>
<html>
    <meta name="theme-color" content="#{{ site.color.secondary }}">

    {% include portfolio/head.html %}
    <body id="page-top" class="index">
    {% include portfolio/nav.html %}
    {% include portfolio/header.html %}
    {% include portfolio/portfolio_grid.html %}
    {% include portfolio/blog.html %}
    {% include portfolio/about.html %}

    {% include portfolio/footer.html %}
    {% include portfolio/modals.html %}
    {% include portfolio/js.html %}
    </body>
</html>