<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about sidebar-title">
      <h1 class="sidebar-title">
        <a href="{{ site.blogbaseurl }}">
          {{ site.blogtitle }}
        </a>
      </h1>

      <ul class="list-inline">
        {% for network in site.social %}
          <li>
              <a href="{{ network.url }}" class="btn-social btn-outline" target="blank"><i class="fa fa-fw fa-{{ network.title }}"></i></a>
          </li>
        {% endfor %}
      </ul>

      <p class="lead">{{ site.blogdescription }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.blogbaseurl %} active{% endif %}" href="{{ site.blogbaseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "blog/page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

    </nav>

    <p>Copyright &copy; {{ site.footer.copyright }} {{ site.time | date: '%Y' }}</p>
  </div>
</div>
