<div id="main" role="main">
  <div class="sidebar sticky">
  {% include author-profile.html %}
  </div>

  <div class="page__inner-wrap">
    <section class="page__content" itemprop="text">
      <h1>About</h1>
      <p>Jeroen has a real passion to build things, which continuously challenges him to experiment and learn. In the process refocussed his master in Electrical engineering to become an Android developer. Starting off with highly technical prototypes for Wi-Fi connected products, he build his own file sharing platform (Wi-FileTransfer). Currently he drives the innovation for the official Philips Hue Android and iOS apps.</p>
      <p>One of a kind, never-been-done before apps are what he enjoys most and complex systems, highly technical apps have become his expertise. Currently Jeroen helped realize four huge connected products, various high profile apps (e.g. Nieuwsblad), actively contributes to open source and loves interacting with the Android community.</p>
    </section>
</div>
