<div class="page__alert--overlay" style="background-color: #d28445; ">
  <div class="wrapper">
    <h1 id="page-title" class="page__title" itemprop="headline">Looking for a new job! 🚀</h1>
    <p class="page__title" itemprop="headline">Due to a financial setback, my new employer cancelled my contract right before joining them. Hence I'm looking for a remote opportunity as a Android developer or Android lead, either full time employee or freelancer.</p>
    <p class="page__title" itemprop="headline">You can contact me via <a href="mailto:hithere@jeroenmols.com">email</a>, <a href="https://twitter.com/molsjeroen">Twitter</a> or <a href="https://www.linkedin.com/in/jeroenmols/">LinkedIn</a></p>
  </div>
</div>
