 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                <!-- <div class="col-lg-4 col-lg-offset-2"> -->
                    <p>Jeroen has  a real passion to build things, which continuously challenges him to experiment and learn. In the process he acquired his software skills and refocussed his master in Electrical engineering to become an Android developer. Starting off with highly technical prototypes for Wi-Fi connected products, he build his own file sharing platform (Wi-FileTransfer). One thing led to another and currently he drives the innovation for the official Philips Hue Android and iOS apps.</p>
                  </br>
                    <p>One of a kind, never-been-done before apps are what he enjoys most and complex systems, highly technical apps have become his expertise. Currently Jeroen helped realize three huge connected products, various high profile apps (e.g Tomorrowland festival app), actively contributes to open source (Landscape Video Camera) and loves interacting with the Android community.</p>
                    </br>
                <!-- </div>
                <div class="col-lg-4"> -->
                    <p>Key Strengths:
                        <ul>
                            <li>Excellent communicator</li>
                            <li>Architectural thinking – understanding the bigger picture</li>
                            <li>Agile methodologies (SCRUM)</li>
                            <li>Creative problem solver</li>
                            <li>Coaching and training</li>
                            <li>“Just do it” - mentality</li>
                            <li>Team player</li>
                        </ul>
                    </p>
                <!-- </div> -->
            </div>
            </div>
        </div>
    </section>