
    <!-- Blog Section -->
    <section class="success" id="blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Blog</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>Having postponed this for quite some time, Jeroen recently started blogging about the things he's passionated about. While a lot of the posts will cover 
                        Android, it is certainly not limited to that.</p>
                    <p>Checkout the blog <a href="http://jeroenmols.github.io/blog" style="color:#2c3e50" target="blank">here</a> and don't hesitate to leave a comment or provide feedback.</p>
            </div>
            </div>
        </div>
    </section>