 <!-- About Section -->
    <section class="success" id="speaking">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Speaking</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                <!-- <div class="col-lg-4 col-lg-offset-2"> -->
                    <p>I'm always eager to share my technical knowledge with fellow developers. Don't hesitate to <a href="https://twitter.com/molsjeroen" target="blank">contact me on Twitter</a> if you would like me to speak at your event!</p>
                  </br>
                <!-- </div>
                <div class="col-lg-4"> -->
                    <p>Upcoming talks:
                        <ul>
                            <li>Android Makers FR - The ART of organizing resources</li>
                            <li>Devoxx UK - Deep into the IoT trenches: how to build a connected product</li>
                        </ul>
                    </p>

                    <p>2016:
                        <ul>
                            <li>Devoxx - <a href="https://www.youtube.com/watch?v=DJDBl0vURD4" target="blank" class="success">Testing made sweet with a Mockito</a></li>
                            <li>Android dialogs - <a href="https://www.youtube.com/watch?v=TxFaWXkBo2E" target="blank" class="success">Connected products</a></li>
                            <li>Big Android Barbeque Europe - <a href="https://speakerdeck.com/jeroenmols/testing-made-sweet-with-a-mockito" target="blank" class="success">Testing made sweet with a Mockito</a></li>
                            <li>Big Android Barbeque Europe - <a href="https://speakerdeck.com/jeroenmols/distribute-your-libraries-via-maven-even-privately" target="blank" class="success">Maven library distribution</a></li>
                            <li>Droidcon Berlin - <a href="https://speakerdeck.com/jeroenmols/testing-made-sweet-with-a-mockito" target="blank" class="success">Testing made sweet with a Mockito</a></li>
                            <li>Droidcon Italy - <a href="https://speakerdeck.com/jeroenmols/distribute-your-libraries-via-maven-even-privately" target="blank" class="success">Distribute your libraries via Maven, even privately</a></li>
                            <li>GDG Brussels - <a href="https://speakerdeck.com/jeroenmols/automated-library-distribution-to-maven" target="blank">Automated library distribution to Maven</a></li>
                        </ul>
                    </p>

                    <p>2015:
                        <ul>
                            <li>Droidcon Paris - <a href="https://speakerdeck.com/jeroenmols/distributing-to-a-public-or-private-maven-repository" target="blank">Distributing to a public or private Maven repository</a></li>
                        </ul>
                    </p>
                <!-- </div> -->
            </div>
            </div>
        </div>
    </section>
