 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                <!-- <div class="col-lg-4 col-lg-offset-2"> -->
                    <p>Pushing boundaries on a daily basis has made Jeroen specialized in never-been-done, one of a kind app development. Add an engineering background and over 3 years of experience to that mix and you get someone who masters both technology and robust software design.</p>
                    <p>Needless to say, Jeroen is a professional who can and will get the job done.</p>
                <!-- </div>
                <div class="col-lg-4"> -->
                    <p>Key Strengths:
                        <ul>
                            <li>Excellent communicator</li>
                            <li>Architectural thinking – understanding the bigger picture</li>
                            <li>Agile methodologies (SCRUM)</li>
                            <li>Creative problem solver</li>
                            <li>Coaching and training</li>
                            <li>“Just do it” - mentality</li>
                            <li>Team player</li>
                        </ul>
                    </p>
                <!-- </div> -->
            </div>
            </div>
        </div>
    </section>