<div class="social-share">
  <h2>Share on</h2>
  <ul>
    <li>
      <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}"
        onclick="window.open(
              'https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}'
          ,'popup','width=600,height=600'); return false;" class="twitter" title="Share on Twitter" rel="nofollow" target="popup">
          <i class="fa fa-twitter"></i><span id="social-span"> Twitter</span>
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
        onclick="window.open(
              'https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}'
          ,'popup','width=600,height=600'); return false;" class="facebook" title="Share on Facebook" rel="nofollow" target="popup">
          <i class="fa fa-facebook"></i><span id="social-span"> Facebook</span></a>
      </a>
    </li>
    <li>
      <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}"
        onclick="window.open(
              'https://plus.google.com/share?url={{ site.url }}{{ page.url }}'
          ,'popup','width=600,height=600'); return false;" class="google-plus" title="Share on Google Plus" rel="nofollow" target="popup">
          <i class="fa fa-google-plus"></i><span id="social-span"> Google+</span></a>
      </a>
    </li>
    <!-- <li>
      <a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&summary={{ post.content | strip_html | truncatewords:30 }}&source={{ site.url }}"
        onclick="window.open(
              'http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&summary={{ post.content | strip_html | truncatewords:30 }}&source={{ site.url }}'
          ,'popup','width=600,height=600'); return false;" class="linkedin" title="Share on Google Plus" rel="nofollow" target="popup">
          <i class="fa fa-linkedin"></i><span id="social-span"> Linkedin</span></a>
      </a>
    </li> -->
  </ul>
</br></br>
</div><!-- /.social-share -->
