{% if post.img %}
  {% capture teaser %}{{ post.img }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
  {% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
    {% if year >= "2015" %}

      {% if post.img %}
      <div class="post-overlay-header" style="background-image: url({{ site.blogbaseurl }}/{{ post.img }})">
      <div class="post-overlay-header-title">
      {% endif %}

      <h1 class="post-title">
        <a href="{{ post.url }}">
          {{ post.title }}
        </a>
      </h1>

      <span class="post-date">{{ post.date | date_to_string }}</span>

      {% if post.img %}
      </div>
      </div>
      {% endif %}

      {% if post.read_time %}
        <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
      {% endif %}

      <!-- {{ post.content | strip_html | truncatewords:30 }} -->

      {% if post.content %}<p class="archive__item-excerpt" itemprop="description">{{ post.content | markdownify | strip_html | truncatewords: 30 }}</p>{% endif %}

  {% endif %}
  </article>
</div>

<!-- <div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if teaser %}
      <div class="archive__item-teaser">
      <a href="{{ post.url | absolute_url }}" rel="permalink">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | absolute_url }}"
          {% endif %}
          alt="{{ post.title }}"></a>
      </div>
    {% endif %}
    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | absolute_url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ post.url | absolute_url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}
    {% if post.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>{% endif %}
  </article>
</div> -->
