{{ $disableImageOptimization := .Site.Params.disableImageOptimization | default false }}
{{ if .Get "default" }}
  {{ template "_internal/shortcodes/figure.html" . }}
{{ else }}
  {{- $url := urls.Parse (.Get "src") }}
  {{- $altText := .Get "alt" }}

  {{- $resource := "" }}
  {{- if $.Page.Resources.GetMatch ($url.String) }}
    {{- $resource = $.Page.Resources.GetMatch ($url.String) }}
  {{- else if resources.GetMatch ($url.String) }}
    {{- $resource = resources.Get ($url.String) }}
  {{- end }}
  {{- with $resource }}
      <img
        class="my-0 rounded-md grid-w100 md:grid-w50 xl:grid-w33"
        src="{{ (.Resize "1024x webp").RelPermalink }}"
        alt="{{ $altText }}"
      />
  {{- else }}
    <img class="my-0 rounded-md grid-w100 md:grid-w50 xl:grid-w33" src="{{ $url.String }}" alt="{{ $altText }}" />
  {{- end }}
  
{{- end -}}
